In [1]:
import pandas as pd
import numpy as np
import glob, os
import datetime
import json

import pickle

pd.set_option('display.max_columns', None)  
# pd.set_option('display.max_colwidth', 125)  # or 199

In [2]:
with open('/Users/robertpagano/metis_data/project_4/final/all_live_final_appended_2016_2019.pickle', 'rb') as f:
    df = pickle.load(f)

In [3]:
df['category_main'].value_counts()

technology      10314
film & video     8745
music            7020
fashion          6990
publishing       6688
games            5902
food             5621
art              5198
design           3343
comics           3008
photography      1824
crafts           1806
theater          1659
journalism       1289
dance             646
Name: category_main, dtype: int64

In [4]:
df['category_name'].value_counts()

Apps                3205
Apparel             3001
Product Design      2112
Web                 1989
Accessories         1963
Tabletop Games      1559
Video Games         1551
Comic Books         1327
Gadgets             1326
Children's Books    1286
Restaurants         1249
Playing Cards       1190
Drinks              1185
Comedy              1102
Illustration        1099
Drama               1040
Nonfiction          1022
Graphic Novels      1010
Software             995
Fiction              959
Hip-Hop              951
Documentary          915
Hardware             912
Webseries            876
Mobile Games         840
Food Trucks          738
Art Books            735
Country & Folk       709
Photobooks           701
Painting             699
                    ...
Movie Theaters        90
Puzzles               83
Latin                 82
Translations          81
Theater               80
Design                80
Animals               76
Video Art             74
Pet Fashion           73
Photo                 70
Journalism            66
Fashion               65
Workshops             62
Pottery               59
Knitting              57
Crochet               56
Literary Spaces       54
Typography            48
Embroidery            48
Games                 45
Glass                 43
Photography           40
Weaving               39
Dance                 31
Bacon                 29
Residencies           28
Quilts                25
Letterpress           21
Chiptune              11
Taxidermy              2
Name: category_name, Length: 159, dtype: int64

In [5]:
df_tech = df[df['category_main'] == 'technology']

In [6]:
df_tech.shape

(10314, 39)

In [7]:
df_tech['category_name'].value_counts()

Apps                 3205
Web                  1459
Gadgets              1326
Software              995
Hardware              912
Wearables             594
DIY Electronics       342
Sound                 317
Robots                218
3D Printing           214
Camera Equipment      164
Flight                138
Space Exploration     122
Fabrication Tools     114
Makerspaces           102
Technology             92
Name: category_name, dtype: int64

In [9]:
df_games = df[df['category_main'] == 'games']

In [10]:
df_games.shape

(5902, 39)

In [11]:
df_games['category_name'].value_counts()

Tabletop Games     1559
Video Games        1551
Playing Cards      1190
Mobile Games        840
Live Games          475
Gaming Hardware     159
Puzzles              83
Games                45
Name: category_name, dtype: int64

In [25]:
df_games['final_state'].value_counts()

failed        2950
successful    2722
canceled       221
suspended        9
Name: final_state, dtype: int64

In [26]:
df_games_text = df_games[['final_state', 'id', 'name', 'blurb', 'category_name']].copy()

In [27]:
df_games_text.head()

,final_state,id,name,blurb,category_name
1796,successful,269726791,Emanations Playing Cards | A Study of Real Magic,An artistic professional pack of playing cards...,Playing Cards
2575,successful,1697621882,FAT STACKS: The Pancake Stacking Strategy Card...,Make it rain pancakes in FAT STACKS. \nCreate ...,Tabletop Games
2594,successful,2046938895,Royal Heroz - Fantasy Strategy Playing Cards,"Endless playability, stunning artwork and fant...",Playing Cards
2665,successful,1642293087,Coral Islands : 2 interactive dice-stacking ga...,"In 'Coral', use dice to make shapes in 3D! In ...",Tabletop Games
2668,failed,932587626,3D Shopping with WalkTheWeb 3D Technology!,Online 3D Stores for businesses that blur 3D G...,Live Games

In [29]:
with open('/Users/robertpagano/metis_data/project_4/text_dataframes/games_text_2016_2019.pickle', 'wb') as to_write:
    pickle.dump(df_games_text, to_write)

In [12]:
df_design = df[df['category_main'] == 'design']

In [13]:
df_design.shape

(3343, 39)

In [14]:
df_design['category_name'].value_counts()

Product Design        2112
Graphic Design         511
Architecture           313
Interactive Design     164
Civic Design           115
Design                  80
Typography              48
Name: category_name, dtype: int64

In [24]:
df_design['final_state'].value_counts()

successful    2431
failed         815
canceled        94
suspended        3
Name: final_state, dtype: int64

In [20]:
df_tech.shape

(10314, 39)

Below - I am going to focus on technology projects only, so roughly n=10000

I am going to create a dataframe with just id, name, blurb, category name, and final state

UPDATE - the classes are extremely unbalanced, going to switch to games which has class balance even though 4k fewer observations

In [17]:
df_tech_text = df_tech[['final_state', 'id', 'name', 'blurb', 'category_name']].copy()

In [22]:
df_tech_text.head()

,final_state,id,name,blurb,category_name
2634,failed,1357810203,LPReader - Reads Printed Text Out Loud!,"Battery operated, mobile device to read, out l...",Gadgets
2683,failed,443520922,SHARES - The one and only finance app for shar...,My vision is to create the perfect app for eve...,Software
2684,canceled,1571233665,"Atalanta Biometric Wearable for Swimmers, Runn...",The first high-end multi-sport wearable device...,Wearables
2685,failed,1915191124,"BOT:BIT, more than just a robot!","Bot:Bit, world’s first STEAM robot kit powered...",Robots
2706,failed,471932569,headsApp: Save time and money. Gain piece of m...,"With headsApp, you know what's happening every...",Apps

In [23]:
df_tech_text['final_state'].value_counts()

failed        8435
successful    1309
canceled       544
suspended       26
Name: final_state, dtype: int64