In [1]:
import pandas as pd
import numpy as np
import glob, os
import datetime
import json

import pickle

pd.set_option('display.max_columns', None)  
# pd.set_option('display.max_colwidth', 125)  # or 199

In [2]:
import df_combine as dfc

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html

Need to drop_duplicates - remove all completely duplicated rows

In [3]:
df_feb2019 = dfc.unpkl('feb_2019_cleaned')

test3

In [4]:
df_feb2019.shape

(208474, 38)

In [5]:
df_feb2019 = df_feb2019.drop_duplicates(subset='id')

In [6]:
df_feb2019.shape

(181534, 38)

In [7]:
df_feb2019_non_live = dfc.filter_out_live(df_feb2019)

In [8]:
df_feb2019_non_live.shape

(179025, 38)

In [9]:
df_nonlive_master = df_feb2019_non_live.copy()

try to do it in one function, should end with shape:
    (180866, 38)
    After adding Jan. Success!
    
Now I will run the function once for each dataset. At the end, I will have all projects with final status in one dataframe.

In [10]:
df_nonlive_master = dfc.append_new_live_from_filename('jan_2019_cleaned', df_nonlive_master)

test3

In [11]:
df_nonlive_master.shape

(180866, 38)

In [12]:
df_nonlive_master = dfc.append_new_live_from_filename('dec_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(220743, 38)

In [14]:
df_nonlive_master = dfc.append_new_live_from_filename('nov_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(220890, 38)

In [15]:
df_nonlive_master = dfc.append_new_live_from_filename('oct_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(221102, 38)

In [16]:
df_nonlive_master = dfc.append_new_live_from_filename('sep_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(221559, 38)

In [17]:
df_nonlive_master = dfc.append_new_live_from_filename('aug_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(221968, 38)

In [18]:
df_nonlive_master = dfc.append_new_live_from_filename('jul_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(222303, 38)

In [19]:
df_nonlive_master = dfc.append_new_live_from_filename('jun_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(222821, 38)

In [20]:
df_nonlive_master = dfc.append_new_live_from_filename('may_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(223584, 38)

In [21]:
df_nonlive_master = dfc.append_new_live_from_filename('apr_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(233510, 38)

In [22]:
df_nonlive_master = dfc.append_new_live_from_filename('mar_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(234063, 39)

In [23]:
df_nonlive_master = dfc.append_new_live_from_filename('feb_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(234260, 53)

In [24]:
df_nonlive_master = dfc.append_new_live_from_filename('jan_2018_cleaned', df_nonlive_master)
df_nonlive_master.shape

test3

(234849, 53)

In [27]:
df_nonlive_master['category_main'].value_counts()

film & video    32880
music           32561
technology      25501
art             23492
publishing      19864
games           17926
food            17470
fashion         14980
design          10918
comics           9828
photography      7568
theater          7363
crafts           6356
journalism       4893
dance            3249
Name: category_main, dtype: int64

In [26]:
with open('/Users/robertpagano/metis_data/project_4/interim/all_non_live_cleaned.pickle', 'wb') as to_write:
    pickle.dump(df_nonlive_master, to_write)


So for non-live master, order is:
	1. unpickle df
	2. drop dups in that df (subset = 'id')
	3. filter out live
	4. append to the master (this also de-dups on subset id)
	6. repeat untill all the way through files

SUCCESS. Now to move on to live statuses. 

Then for live master, order is:
	1. unpickle df
	2. drop dups in that df (subset = 'id')
	3. filter out non-live records
	4. append to master
	5. sort master by date
	6. drop dups in master (subset='id', keep='last' so that it keeps the last entry in live (most info))
	7. repeat until all the way through files
	8. Once I have all live records, will need to append all "final statuses" as the final target variable
			--remove any records that don't have this
	9. Then I just need to look at my value counts by category, and narrow my focus on category

	After that, it's NLP time