In [1]:
import pandas as pd
import numpy as np
import glob, os
import datetime
import json

import pickle

pd.set_option('display.max_columns', None)  
# pd.set_option('display.max_colwidth', 125)  # or 199

In [5]:
with open('/Users/robertpagano/metis_data/project_4/final/all_live_cleaned_2017_to_present.pickle', 'rb') as f:
    df_live = pickle.load(f)

In [7]:
with open('/Users/robertpagano/metis_data/project_4/final/all_nonlive_cleaned_2017_to_present.pickle', 'rb') as f:
    df_nonlive = pickle.load(f)

In [12]:
df_nonlive_state_only = df_nonlive[['id', 'state']]

In [14]:
df_nonlive_state_only.shape

(282016, 2)

In [15]:
df_nonlive_state_only.head()

           id       state
0  1203770415      failed
1   878861613  successful
2   917345297  successful
3  1702164653  successful
4  1042930184  successful

In [16]:
df_nonlive_state_only = df_nonlive_state_only.rename(columns={'state': 'final_state'})

In [17]:
df_nonlive_state_only.head()

           id final_state
0  1203770415      failed
1   878861613  successful
2   917345297  successful
3  1702164653  successful
4  1042930184  successful

In [18]:
test1 = pd.merge(df_live, df_nonlive_state_only, how='left', on='id')
test1.head()

,backers_count,blurb,converted_pledged_amount,country,goal,id,name,pledged,slug,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,date_created,deadline_date,launched_date,date_state_changed,time_to_launch,day_limit,current_date,days_left,days_in_field,manual_usd_rate,converted_goal,category_id,category_name,category_position,category_slug,creator_id,profile_id,profile_project_id,urls_project,category_main,remaining_money_needed,money_needed_by_day,money_gained_per_day,current_by_remaining_rate,final_state
0,200,A VR escape-the-room adventure game. Experienc...,11920.0,JP,2000000.0,1519730879,Last Labyrinth - VR Escape-the-Room Adventure ...,1318365.0,last-labyrinth-vr-escape-the-room-adventure-game,True,live,1548310043,0.009116,12017.608892,2018-12-04 02:54:10,2019-03-25 05:07:23,2019-01-24 06:07:23,2019-01-24 06:07:23,51,59,2019-02-14,39,21,0.009042,18231,35,Video Games,7,games/video games,1.406136e+09,3528354,3528354,https://www.kickstarter.com/projects/140613564...,games,6311.0,161.820513,567.619048,3.507708,NaN
1,14,The Afro-Fantasy card game,187.0,US,50000.0,1947708586,Alke,187.0,alke,False,live,1549019030,1.000000,187.000000,2019-01-13 07:25:39,2019-04-02 10:03:50,2019-02-01 11:03:50,2019-02-01 11:03:50,19,59,2019-02-14,47,13,1.000000,50000,35,Video Games,7,games/video games,5.723676e+08,3552688,3552688,https://www.kickstarter.com/projects/alke/alke...,games,49813.0,1059.851064,14.384615,0.013572,NaN
2,26,Windbellows: a Pat. Pending device that uses w...,1559.0,US,250000.0,310485870,Windbellows,1559.0,windbellows,False,live,1547259907,1.000000,1559.000000,2018-12-31 23:11:16,2019-02-15 01:00:00,2019-01-12 02:25:07,2019-01-12 02:25:07,11,33,2019-02-14,1,33,1.000000,250000,52,Hardware,8,technology/hardware,2.050079e+08,3544328,3544328,https://www.kickstarter.com/projects/205007872...,technology,248441.0,248441.000000,47.242424,0.000190,NaN
3,13,"Easy, self-use, sports training ball-launching...",706.0,US,10000.0,1508112252,Whip-a-snap,706.0,whip-a-snap,False,live,1548368589,1.000000,706.000000,2019-01-17 19:06:55,2019-03-25 21:23:09,2019-01-24 22:23:09,2019-01-24 22:23:09,7,59,2019-02-14,39,21,1.000000,10000,16,Technology,14,technology,3.569016e+08,3645450,3645450,https://www.kickstarter.com/projects/356901581...,technology,9294.0,238.307692,33.619048,0.141074,NaN
4,7,Support a collaboration with the Barcelona Cla...,561.0,US,10000.0,1376351746,The LSWO brings Spain to Dallas...and then the...,561.0,the-lswo-brings-spain-to-dallasand-then-the-world,False,live,1549463127,1.000000,561.000000,2019-01-28 21:55:56,2019-03-08 14:25:26,2019-02-06 14:25:26,2019-02-06 14:25:27,8,30,2019-02-14,22,8,1.000000,10000,36,Classical Music,3,music/classical music,7.505168e+08,3657490,3657490,https://www.kickstarter.com/projects/750516837...,music,9439.0,429.045455,70.125000,0.163444,NaN

In [19]:
test1.shape

(64892, 39)

In [21]:
test1['final_state'].value_counts()

failed        24776
successful    17884
canceled       1377
suspended        27
Name: final_state, dtype: int64

In [22]:
24776+17884+1377+27

44064

In [24]:
test1.dropna(subset=['final_state'], inplace=True)
test1.shape

(44064, 39)

In [27]:
test1['category_main'].value_counts()

technology      6282
film & video    5420
fashion         4625
music           4426
publishing      3833
art             3603
food            3540
games           3441
design          2302
comics          2068
crafts          1176
photography     1121
theater         1044
journalism       785
dance            398
Name: category_main, dtype: int64

In [28]:
with open('/Users/robertpagano/metis_data/project_4/final/all_live_final_appended_2017_2019.pickle', 'wb') as to_write:
    pickle.dump(test1, to_write)